body{
    
    background:#ccc;
    font-family: 'Lato', sans-serif;
    position: relative;

}

.container{
    background: white;
 
}

.navbar-inverse .container{
    
    background:#A72333;
}

#main{
   
  
    padding: 0px;
    height: 500px;
    background: #A72333;
    color: white; 
    padding-left: 100px;

    border-radius:20px; 
    margin-bottom: 10px;
    border:solid 1px #ccc;
    
    
}

#main ul{
    
    font-size: 21px;
    margin-bottom: 20px;
}

#main li{
    margin-bottom: 5px;
}


.main-img img{
    margin-top: 120px;
    
    margin-left: 120px;
    width: 200px;
    height: 300px;
}


.marketing{
    margin-top:5px; 
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 25px;
}

img{
    width: 200px;
    height: 250px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}


.featurette-image {
  width: 380px;  
    border: 5px solid #ccc; 
}



.navbar-inverse{
    
    background: #A72333;
   
    
}

.nav.navbar-nav li a {
    color: white;
    font-size: 16px;
   font-weight: bold;
    width: 150px;
    text-align: center;
   
 }

.nav.navbar-nav li a:hover {
   color: #A72333;
    background: #ccc;
 
 
 }



.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color:#A72333!important;
  background: #f7f7f7!important;
}



.courses{
    text-align: center; 
    
    
}

.type{
    font-weight: bold;
    font-size: 16px;
    
}

.amount{
    color: green;
    font-weight: bold;
    font-size: 16px;
    
}